* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 10px;
    border-radius: 3px;
}

ul li{
    list-style: decimal;
}